<h4 class="forecast__title">Forecast 5 days</h4>

<mat-tab-group>
  <mat-tab label="Wind">
    <ng-template matTabContent>
      <ngx-charts-line-chart *ngIf="windChartData else noWindChartData" 
        [scheme]="chartColorScheme" 
        [results]="windChartData" 
        [xAxis]="true" 
        [legend]="false"
        [autoScale]="true">
      </ngx-charts-line-chart>
      <ng-template #noWindChartData>
        <p>No data to display</p>
      </ng-template>
    </ng-template>
  </mat-tab>

  <mat-tab label="Temperature">
    <ng-template matTabContent>
      <ngx-charts-bar-vertical *ngIf="temperatureChartData else noTemperatureChartData" 
        [results]="temperatureChartData" 
        [scheme]="chartColorScheme" 
        [roundEdges]="false"
        [barPadding]="5" 
        [xAxis]="true" 
        [yAxis]="false">
      </ngx-charts-bar-vertical>
      <ng-template #noTemperatureChartData>
        <p>No data to display</p>
      </ng-template>
    </ng-template>
  </mat-tab>

  <mat-tab label="Presure">
    <ng-template matTabContent>
      <ngx-charts-area-chart *ngIf="pressureChartData else noPressureChartData" 
        [results]="pressureChartData" 
        [scheme]="chartColorScheme" 
        [xAxis]="true" 
        [yAxis]="false"
        [legend]="false" 
        [autoScale]="true" 
        [showXAxisLabel]="true">
      </ngx-charts-area-chart>
      <ng-template #noPressureChartData>
        <p>No data to display</p>
      </ng-template>
    </ng-template>
  </mat-tab>

  <mat-tab label="Humidity">
    <ng-template matTabContent>
      <ngx-charts-polar-chart *ngIf="humidityChartData else noHumidityChartData" 
        [results]="humidityChartData" 
        [scheme]="chartColorScheme" 
        [xAxis]="true" 
        [yAxis]="false"
        [legend]="false" 
        [autoScale]="true" 
        [showXAxisLabel]="true">
      </ngx-charts-polar-chart>
      <ng-template #noHumidityChartData>
        <p>No data to display</p>
      </ng-template>
    </ng-template>
  </mat-tab>
</mat-tab-group>