:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    @media only screen and (max-height: 350px) {
        padding: 10px;
    }
}
.forecast__title {
    margin: 0 0 10px 0;
    font-size: 1.4rem;
    font-weight: 400;
    @media only screen and (max-height: 450px) {
        font-size: 1.2rem;
    }
}
::ng-deep {
    .mat-tab-header {
        border: none;
    }
    .mat-tab-label {
        background: white;
        border: 1px solid #ececec;
        border-bottom: none;
        min-width: 80px !important;
        padding: 0 10px !important;
        @media only screen and (max-height: 450px) {
            height: 35px !important;
        }
    }
    .mat-ink-bar {
        display: none;
    }
    .mat-tab-label-active {
        background: #f5f5f5;
        opacity: 1 !important;
    }
    .mat-tab-group {
        flex-grow: 1;
    }
    .mat-tab-body-wrapper {
        flex-grow: 1;
        background: #f5f5f5;
        p {
            margin: 10px;
        }
    }
}
