<div class="page">
  <mat-toolbar class="page-toolbar">
    <mat-toolbar-row>
      <div class="toolbar__logo">
        <mat-icon>wb_sunny</mat-icon> Forecast
      </div>
      <span class="toolbar__spacer"></span>
      <div class="toolbar__search">
        <ng-select [items]="cities$ | async" 
            bindLabel="name" 
            [loading]="citiesLoading" 
            [typeahead]="citiesSearch$"
            [(ngModel)]="selectedCity" 
            (change)="onSelectCity($event)" 
            [placeholder]="'City or zipcode'">
          <ng-template ng-option-tmp let-item="item">
            <strong>{{item.name}}, {{item.sys.country}}:</strong> {{item.main.temp}} ℃
          </ng-template>
        </ng-select>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <main class="main">
    <section class="main__header">
      <div class="main__title">
        {{ todayDate | date:'EEEE, d MMMM' }}
      </div>

      <div class="main__card-wrapper">
        
        <div class="main__card" *ngIf="(cityWeather$ | async) else noCity">
          <div class="main__card-header">
            {{ (cityWeather$ | async).city?.name }}
          </div>
          <div class="main__card-body">
            {{ (cityWeather$ | async)?.list[0]?.main.temp }} ℃
          </div>
          <div class="main__card-footer">
            <span class="weather-icon">
              <img src="http://openweathermap.org/img/w/{{(cityWeather$ | async)?.list[0]?.weather[0]?.icon}}.png" alt="">
            </span>
            {{ (cityWeather$ | async)?.list[0]?.weather[0].main }}
          </div>
        </div>

        <ng-template #noCity>
          <div class="main__card">
            <div class="main__card-header">Select city</div>
          </div>
        </ng-template>
      </div>

      <mat-toolbar class="main__toolbar">
        <mat-toolbar-row>
          <div class="mat-toolbar__item">
            <span class="mat-toolbar__item-title">Pressure:</span>
            <span>{{ (cityWeather$ | async)?.list[0]?.main.pressure || '-' }}</span>
          </div>
          <div class="mat-toolbar__item">
            <span class="mat-toolbar__item-title">Humidity:</span>
            <span>{{ (cityWeather$ | async)?.list[0]?.main.humidity || '-' }}</span>
          </div>
          <div class="mat-toolbar__item">
            <span class="mat-toolbar__item-title">Wind Speed:</span>
            <span>{{ (cityWeather$ | async)?.list[0]?.wind.speed || '-' }} m/s</span>
          </div>
          <div class="mat-toolbar__item">
            <span class="mat-toolbar__item-title">Clouds:</span>
            <span>{{ (cityWeather$ | async)?.list[0]?.clouds.all || '-' }} %</span>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </section>

    <section class="main__body">
      <app-forecast-charts></app-forecast-charts>
    </section>
  </main>
</div>