$header-height: 60px;

.weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    img {
        width: 40px;
        height: 40px;
    }
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;
}

.page-toolbar {
    height: $header-height;
    min-height: $header-height;
    padding: 5px 0;
    border-bottom: 1px solid #ececec;
    .toolbar__spacer {
        flex: 1 1 auto;
    }
    .toolbar__search {
        width: 30%;
        min-width: 150px;
        .ng-select {
            margin: 0;
            padding: 0;
        }
    }
    .toolbar__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .mat-icon {
            margin-right: 15px;
        }
    }
}

.main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 0 0 0;
    height: calc(100vh - #{$header-height});
}
.main__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 31%;
}
.main__body {
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.main__title {
    padding: 0 10px;
    font-size: 1.3rem;
}
.main__card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    .main__card-header {
        font-size: 2rem;
        margin-bottom: 5px;
    }
    .main__card-body {
        font-size: 3.5rem;
    }
    .main__card-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
}
.main__toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-size: 1rem;
    min-height: initial;
    .mat-toolbar-row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: initial;
        flex-wrap: wrap;
        padding: 10px 0;
    }
    .mat-toolbar__item {
        margin: 0 10px;
    }
    .mat-toolbar__item-title {
        font-weight: 500;
        margin-right: 5px;
    }
}

@media only screen and (max-height: 750px) {
    .main {
        padding: 10px 0 0 0;
    }
    .main__header {
        height: 30%;
    }
    .main__body {
        height: 70%;
    }
    .main__title {
        font-size: 1.1rem;
    }
    .main__card {
        .main__card-header {
            font-size: 1.3rem;
        }
        .main__card-body {
            font-size: 1.5rem;
        }
        .main__card-footer {
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-height: 450px) {
    .main__card {
        flex-direction: row;
        .main__card-header {
            margin: 0;
        }
        .main__card-body {
            margin: 0 15px;
        }
    }
}
@media only screen and (max-height: 350px) {
    .main__title {
        font-size: 1rem;
    }
    .main__card {
        .main__card-header {
            font-size: 1.3rem;
        }
        .main__card-body {
            font-size: 1.5rem;
        }
        .main__card-footer {
            font-size: 1.2rem;
        }
    }
}