/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Roboto', 
    sans-serif; 
    font-size: 14px;
}
* {
    box-sizing: border-box;
}

.mat-toolbar {
    font: inherit;
}
.ng-dropdown-panel.ng-select-bottom {
    top: 100%;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 10px;
}
